.button-group {
    display: flex;
    gap: 10px;
}

.date-btn {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.date-btn.selected {
    background: #ec6d13;
    color: white;
}