.OTPbutton {
    margin-top: 10px;
    padding: 12px 14px;
    border-left: none;
    background-color: #0182db;
    border: 1px solid #046cb1;
    color: #fff;
    margin-left: -10px;
    font-size: 16px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    cursor: pointer;
}

@media(max-width:650px) {
    .OTPbutton {
        padding: 16px 20px;
        margin-left: -30px;
        font-size: 8px;
    }
}